*{
    margin:0px;
    padding: 0px;
    
}
.navbar{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content:space-between;
}
.nav_logo {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;      
}

.nav_logo .logo {
    opacity: 0.5;             
    width: 60px;              
}
.list_icon{
    height: 50px;
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    
    
}
.nav1 > a{
    height: 100%;
    width: 80px ;

    display: flex;
    justify-content: center;
    
    align-items: center;
    

    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
}
.nav1>.create_select{
    height: 100%;
    width: 80px ;

    display: flex;
    justify-content: center;
    
    align-items: center;
    

    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
    color: inherit;
    border-radius: 10px;

}
a{
    text-decoration: none;
    color: inherit;
}
.list_icon .nav1:hover{
    
    transition: 1s;
    transform: scale(1.2);

}
.input_list{
    display: flex;
    align-items: center;
    justify-content: center;   
    
}
.list_item{
    height: 42px;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Select_item{
    display: flex;
    align-items: center;
}

#select{
    height: 42px;
    width: 90px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    
    outline: none;
}

#input_1{
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    
    
    outline: none;
}
.search_icon{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

/* login */
.auth_box{
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 14px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.auth{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.auth_link{
    text-decoration: none;
    color: black;
    font-size: 13px;

    padding: 0;          
    margin: 0;           
}
.login{
    font-weight: bold;
    text-decoration: none;

}

.signup{
    opacity: 0.7;
    text-decoration: none;
}
.auth_box:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


/* main body */
.main_body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.creating_album{
    display: flex;

    justify-content: center;
    margin-top: 40px;

}
.album_created{
    
    height:400px;
    width: 1300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: gainsboro;
    border-radius: 20px;
    overflow: hidden;
}
.album_created:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
.popup {

  height: 300px;
  width: 1200px;
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
  background-color: #ADADAD;
  border-radius: 10px;
}
.center_section{
    margin: 30px;
    padding: 30px;
}
.star{
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: #DED8D7;
}
.star:hover{
    transition: 1s;
    transform: scale(1.1);
}